.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 426px;
  width: 100%;
}

form input {
  height: 50px;
  font-size: 19px;
  border: 1px solid #cfcfcf;
  outline: none;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  padding-left: 10px;
  transition: border 200ms linear;
}

form input:hover {
  border: 1.1px solid #000;
}

form button {
  height: 40px;
  font-size: 19px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  background-color: #ffc800;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  border-radius: 24px;
  transition: background-color 500ms ease;
}

form button:hover {
  background-color: #e6b400;
  cursor: pointer;
}
